---
layout: default
area: philadelphia
---

<h1>Eating Kosher at Home</h1>

{% include selectarea.html area="cherryhill" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2>Grocery Stores</h2>
      {% for location in site.data.philadelphia %}
      {% if location.type == "grocery" %}
      {% if location.where == "Cherry Hill" %}

        {% include listing.html %}

      {% endif %}
      {% endif %}
      {% endfor %}
    </div> <!-- col-lg-6 -->
    <div class="col-lg-6">
      <h2>Caterers</h2>
      {% for location in site.data.philadelphia %}
      {% if location.type == "catering" %}
      {% if location.where == "Cherry Hill" %}

        {% include listing.html %}

      {% endif %}
      {% endif %}
      {% endfor %}
    </div> <!-- col-lg-6 -->
  </div> <!-- row -->
</div> <!-- container-fluid -->