<br/><br/>

<br/>

<footer class="footer">

  <div class="container-fluid">

        <div class="row">
          <div class="col-xs-1 col-sm-3">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
          </div> <!-- end div col -->
          <div class="col-xs-10 col-sm-6">
              <address class="text-center small">
                <strong>Mekor Habracha / Center City Synagogue</strong><br/>
                <span class="fa fa-map-marker"></span> 2000 Chestnut St, 2nd floor. Philadelphia, PA 19103<br/>
                <span class="fa fa-phone"></span> +1 (215) 525-4246 •
                <span class="fa fa-at"></span> <a href="mailto:info@mekorhabracha.org">info@mekorhabracha.org</a>
              </address>
          </div> <!-- end div col -->
          <div class="col-xs-1 col-sm-3">
            <p class="text-right text-muted"><a href="https://en.wikipedia.org/wiki/Besiyata_Dishmaya">ב"ה</a><br/><a href="{{site.url}}/colophon.html">About the website</a></p>
          </div> <!-- end div col -->
        </div> <!-- end div row -->
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  {% if page.title == "Calendar" or include.area == "home" %}
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/gcal.js"></script>
  <script type='text/javascript' src="{{ site.baseurl }}/js/calendar-home.js"></script>
  {% endif %}
  
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ site.baseurl }}/js/ie10-viewport-bug-workaround.js"></script>
  
  <!-- Google Analytics code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72402060-1', 'auto');
    ga('send', 'pageview');
  </script>

</footer>