      <address>
        {% if location.url != nil %}
        <a href="{{location.url}}"><strong>{{location.name}}</strong></a>&nbsp;&nbsp;
        {% else %}
        <strong>{{location.name}}</strong>&nbsp;&nbsp;
        {% endif %}
        {% if location.facebook_url != nil %}
          &nbsp;<a href="{{location.facebook_url}}"><span class="fa fa-facebook-square"></span></a>
        {% endif %}
        {% if location.yelp_url != nil %}
          &nbsp;<a href="{{location.yelp_url}}"><span class="fa fa-yelp text-danger"></span></a>
        {% endif %}
        <br>
        {% if location.food != nil %}
        &nbsp;&nbsp;&nbsp;<span class="fa fa-cutlery"></span>&nbsp;&nbsp;
          {{location.food}}<br>
        {% endif %}
        &nbsp;&nbsp;&nbsp;<span class="fa fa-map-marker"></span>&nbsp;&nbsp;
          {{location.address}}<br>
        {% if location.phone != nil %}
          &nbsp;&nbsp;&nbsp;<span class="fa fa-phone"></span>&nbsp;&nbsp;{{location.phone}}<br>
        {% endif %}
        {% if location.hash != nil %}
        {% if location.certificate_url != nil %}
        &nbsp;&nbsp;&nbsp;<a href="{{location.certificate_url}}"><span class="fa fa-certificate"></span></a>&nbsp;&nbsp;
        {% else %}
        &nbsp;&nbsp;&nbsp;<span class="fa fa-certificate"></span>&nbsp;&nbsp;
        {% endif %}
        {% if location.hash_url != nil %}
          <a href="{{location.hash_url}}"><abbr title="{{location.hash_name}}">{{location.hash}}</abbr></a><br>
        {% elsif location.hash_name != nil %}
          <abbr title="{{location.hash_name}}">{{location.hash}}</abbr><br>
        {% else %}
          {{location.hash}}<br>
        {% endif %}
        {% endif %}
        {% if location.note != nil %}
        &nbsp;&nbsp;&nbsp;<span class="fa fa-sticky-note text-success"></span>&nbsp;&nbsp;
          <mark>{{location.note}}</mark><br>
        {% endif %}
        {% if location.warning != nil %}
        &nbsp;&nbsp;&nbsp;<span class="fa fa-exclamation-triangle text-danger"></span>&nbsp;&nbsp;
          <mark>{{location.warning}}</mark><br>
        {% endif %}
      </address>