    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
            <span class="logo"><img class="logo" src="{{ site.baseurl }}/img/logo4.png"/> </span>
            <span class="brand-name">  
              <span class="text-center brand">Mekor Habracha</span><br>
              <span class="text-center tagline">CENTER CITY SYNAGOGUE</span>
            </span>
          </a>

        </div> <!-- navbar-header -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown{% if include.area == "community" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/our-community.html">Our Community</a></li>
                <li><a href="{{ site.baseurl }}/our-rabbi.html">Our Rabbi</a></li>
                <li><a href="{{ site.baseurl }}/our-leadership.html">Our Leadership</a></li>
                <li class="disabled"><a href="#">Hospitality</a></li>
                <li class="disabled"><a href="#">In the News</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown{% if include.area == "services" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calendar <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Next Days</a></li>
                <li class="disabled"><a href="#">Month by Month</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown{% if include.area == "learning" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learning <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Sermons</a></li>
                <li class="disabled"><a href="#">BeitMekor</a></li>
                <li class="disabled"><a href="#">Tuesday Night Talmud</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown{% if include.area == "mekorkids" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">MekorKids</a></li>
                <li class="disabled"><a href="#">Young Professionals</a></li>
                <li class="disabled"><a href="#">Sisterhood</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown{% if include.area == "philadelphia" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jewish Philadelphia <span class="caret"></span></a>

              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/eat-out.html">Eating Kosher out</a></li>
                <li><a href="{{ site.baseurl }}/eat-in.html">Eating Kosher at Home</a></li>
                <li><a href="{{ site.baseurl }}/mikvaot.html">Mikvaot</a></li>
                <li class="disabled"><a href="#">Eruvin</a></li>
                <li class="disabled"><a href="#">Staying in Center City</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="#">Center City Kehila</a></li>
                <li class="disabled"><a href="#">Volunteer Opportunities</a></li>
                <li class="disabled"><a href="#">Bulletin Board</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown{% if include.area == "joinus" %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join us <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/contact.html">Stay in Touch</a></li>
                <li><a href="{{ site.baseurl }}/become-member.html">Become a Member</a></li>
                <li><a href="{{ site.baseurl }}/sponsor-activities.html">Sponsor Activities</a></li>
                <li><a href="{{ site.baseurl }}/donate.html">Donate to Mekor</a></li>
                <li class="disabled"><a href="#">Shop with Mekor</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

          </ul> <!-- navbar-right -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <img class="image-band" src="{{ site.baseurl }}/img/torah-band.png"/>