    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mekor Habracha</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="our-community.html">Our Community</a></li>
                <li><a href="our-rabbi.html">Our Rabbi</a></li>
                <li><a href="our-leadership.html">Our Leadership</a></li>
                <li class="disabled"><a href="#">Our Location</a></li>
                <li class="disabled"><a href="#">In the News</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Weekdays</a></li>
                <li class="disabled"><a href="#">Shabbat</a></li>
                <li class="disabled"><a href="#">Holidays</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learning <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Sermons</a></li>
                <li class="disabled"><a href="#">BeitMekor</a></li>
                <li class="disabled"><a href="#">Tuesday Night Talmud</a></li>
                <li class="disabled"><a href="#">Book Club</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MekorKIDS <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Children Programming</a></li>
                <li class="disabled"><a href="#">Tot Shabbat</a></li>
                <li class="disabled"><a href="#">Makom Community</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jewish Philadelphia <span class="caret"></span></a>

              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Eating Kosher</a></li>
                <li class="disabled"><a href="#">Mikvaot</a></li>
                <li class="disabled"><a href="#">Eruvin</a></li>
                <li class="disabled"><a href="#">Staying in Center City</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="#">Center City Kehila</a></li>
                <li class="disabled"><a href="#">Volunteer Opportunities</a></li>
                <li class="disabled"><a href="#">Bulletin Board</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stay in touch <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Contact</a></li>
                <li class="disabled"><a href="#">Facebook</a></li>
                <li class="disabled"><a href="#">Newsletter</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support Mekor <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="membership.html">Membership</a></li>
                <li class="disabled"><a href="#">Sponsorship</a></li>
                <li class="disabled"><a href="#">Dedications</a></li>
                <li class="disabled"><a href="#">Shop with Mekor</a></li>
              </ul> <!-- dropdown-menu -->
            </li> <!-- dropdown -->

          </ul> <!-- navbar-right -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>