<ul class="nav nav-pills nav-justified">
  <li role="presentation"{% if include.area == "centercity" %} class="active"{% endif %}><a href="philadelphia/{{include.category}}.html">Center City</a></li>
  <li role="presentation"{% if include.area == "mainline" %} class="active"{% endif %}><a href="philadelphia/{{include.category}}-mainline.html">Main Line / Manayunk</a></li>
  <li role="presentation"{% if include.area == "northeast" %} class="active"{% endif %}><a href="philadelphia/{{include.category}}-northeast.html">Old York Road / Northeast</a></li>
  <li role="presentation"{% if include.area == "cherryhill" %} class="active"{% endif %}><a href="philadelphia/{{include.category}}-cherryhill.html">Cherry Hill</a></li>
</ul>

