<ul class="nav nav-pills nav-justified">
  <li role="presentation"{% if include.area == "centercity" %} class="active"{% endif %}><a href="eat-in.html">Center City</a></li>
  <li role="presentation"{% if include.area == "mainline" %} class="active"{% endif %}><a href="eat-in-mainline.html">Main Line / Manayunk</a></li>
  <li role="presentation"{% if include.area == "northeast" %} class="active"{% endif %}><a href="eat-in-northeast.html">Old York Road / Northeast</a></li>
  <li role="presentation"{% if include.area == "cherryhill" %} class="active"{% endif %}><a href="eat-in-cherryhill.html">Cherry Hill</a></li>
</ul>

