---
layout: default
area: philadelphia
---

<h1>Eating Kosher out</h1>

{% include selectarea.html area="centercity" category="eat-out" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2>Restaurants</h2>
      {% for location in site.data.philadelphia %}
      {% if location.type == "restaurant" %}
      {% if location.where == "Center City" %}

        {% include listing.html %}

      {% endif %}
      {% endif %}
      {% endfor %}
    </div> <!-- col-lg-6 -->
    <div class="col-lg-6">
      <h2>Bakeries and Ice Cream</h2>
      {% for location in site.data.philadelphia %}
      {% if location.type == "bakery" or location.type == "ice cream" %}
      {% if location.where == "Center City" %}

        {% include listing.html %}

      {% endif %}
      {% endif %}
      {% endfor %}
    </div> <!-- col-lg-6 -->
  </div> <!-- row -->
</div> <!-- container-fluid -->