---
layout: default
---

<br>

<h1>Audio Archive</h1>

{% include selectaudio.html type=page.type subtype=page.subtype %}

<div class="container-fluid">
{% if page.type == "year" %}
    {% assign bereshit = site.audio | where:"bookcode","1" | where:"year",page.subtype %}
    {% assign shemot   = site.audio | where:"bookcode","2" | where:"year",page.subtype %}
    {% assign vayikra  = site.audio | where:"bookcode","3" | where:"year",page.subtype %}
    {% assign bamidbar = site.audio | where:"bookcode","4" | where:"year",page.subtype %}
    {% assign devarim  = site.audio | where:"bookcode","5" | where:"year",page.subtype %}

    {% if bereshit.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Bereshit</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bereshit %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if shemot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Shemot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shemot %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if vayikra.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayikra</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayikra %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if bamidbar.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Bamidbar</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bamidbar %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if devarim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Devarim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in devarim %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Bereshit" %}
    {% assign bereshit  = site.audio | where:"parashacode","101" %}
    {% assign noach     = site.audio | where:"parashacode","102" %}
    {% assign lech      = site.audio | where:"parashacode","103" %}
    {% assign vayera    = site.audio | where:"parashacode","104" %}
    {% assign chayei    = site.audio | where:"parashacode","105" %}
    {% assign toldot    = site.audio | where:"parashacode","106" %}
    {% assign vayetzei  = site.audio | where:"parashacode","107" %}
    {% assign vayislach = site.audio | where:"parashacode","108" %}
    {% assign vayeshev  = site.audio | where:"parashacode","109" %}
    {% assign miketz    = site.audio | where:"parashacode","110" %}
    {% assign vayigash  = site.audio | where:"parashacode","111" %}
    {% assign vayechi   = site.audio | where:"parashacode","112" %}

    {% if bereshit.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Bereshit</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bereshit %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if noach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Noach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in noach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if lech.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Lech-Lecha</h3>
        </div>
    </div> <!-- row -->
    {% for audio in lech %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayera.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayera</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayera %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if chayei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Chayei Sara</h3>
        </div>
    </div> <!-- row -->
    {% for audio in chayei %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if toldot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Toldot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in toldot %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayetzei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayetzei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayetzei %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayislach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayislach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayislach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayeshev.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayeshev</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayeshev %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if miketz.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Miketz</h3>
        </div>
    </div> <!-- row -->
    {% for audio in miketz %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayigash.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayigash</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayigash %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayechi.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayechi</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayechi %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Shemot" %}
    {% assign shemot    = site.audio | where:"parashacode","201" %}
    {% assign vaera     = site.audio | where:"parashacode","202" %}
    {% assign bo        = site.audio | where:"parashacode","203" %}
    {% assign beshalach = site.audio | where:"parashacode","204" %}
    {% assign yitro     = site.audio | where:"parashacode","205" %}
    {% assign mishpatim = site.audio | where:"parashacode","206" %}
    {% assign terumah   = site.audio | where:"parashacode","207" %}
    {% assign tetzaveh  = site.audio | where:"parashacode","208" %}
    {% assign kitisa    = site.audio | where:"parashacode","209" %}
    {% assign vayakhel  = site.audio | where:"parashacode","210" %}

    {% if shemot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Shemot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shemot %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if vaera.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vaera</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vaera %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if bo.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Bo</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bo %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if beshalach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Beshalach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in beshalach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if yitro.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Yitro</h3>
        </div>
    </div> <!-- row -->
    {% for audio in yitro %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if mishpatim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Mishpatim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in mishpatim %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if terumah.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Terumah</h3>
        </div>
    </div> <!-- row -->
    {% for audio in terumah %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if tetzaveh.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Tetzaveh</h3>
        </div>
    </div> <!-- row -->
    {% for audio in tetzaveh %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if kitisa.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Ki Tisa</h3>
        </div>
    </div> <!-- row -->
    {% for audio in kitisa %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if vayakhel.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayakhel and Pekudei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayakhel %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Vayikra" %}
    {% assign vayikra = site.audio | where:"parashacode","301" %}
    {% assign tzav    = site.audio | where:"parashacode","302" %}
    {% assign shmini  = site.audio | where:"parashacode","303" %}
    {% assign tazria  = site.audio | where:"parashacode","304" %}
    {% assign achrei  = site.audio | where:"parashacode","305" %}
    {% assign emor    = site.audio | where:"parashacode","306" %}
    {% assign behar   = site.audio | where:"parashacode","307" %}

    {% if vayikra.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vayikra</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayikra %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if tzav.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Tzav</h3>
        </div>
    </div> <!-- row -->
    {% for audio in tzav %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shmini.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Shmini</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shmini %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if tazria.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Tazria and Metzora</h3>
        </div>
    </div> <!-- row -->
    {% for audio in tazria %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if achrei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Achrei Mot and Kedoshim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in achrei %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if emor.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Emor</h3>
        </div>
    </div> <!-- row -->
    {% for audio in emor %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if behar.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Behar and Bechukotai</h3>
        </div>
    </div> <!-- row -->
    {% for audio in behar %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Bamidbar" %}
    {% assign bamidbar    = site.audio | where:"parashacode","401" %}
    {% assign nasso       = site.audio | where:"parashacode","402" %}
    {% assign behaalotcha = site.audio | where:"parashacode","403" %}
    {% assign shlach      = site.audio | where:"parashacode","404" %}
    {% assign korach      = site.audio | where:"parashacode","405" %}
    {% assign chukat      = site.audio | where:"parashacode","406" %}
    {% assign pinchas     = site.audio | where:"parashacode","407" %}
    {% assign matot       = site.audio | where:"parashacode","408" %}

    {% if bamidbar.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Bamidbar</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bamidbar %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if nasso.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Nasso</h3>
        </div>
    </div> <!-- row -->
    {% for audio in nasso %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if behaalotcha.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Beha'alotcha</h3>
        </div>
    </div> <!-- row -->
    {% for audio in behaalotcha %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shlach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sh'lach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shlach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if korach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Korach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in korach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if chukat.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Chukat and Balak</h3>
        </div>
    </div> <!-- row -->
    {% for audio in chukat %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if pinchas.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Pinchas</h3>
        </div>
    </div> <!-- row -->
    {% for audio in pinchas %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if matot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Matot and Masei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in matot %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Devarim" %}
    {% assign devarim    = site.audio | where:"parashacode","501" %}
    {% assign vaetchanan = site.audio | where:"parashacode","502" %}
    {% assign eikev      = site.audio | where:"parashacode","503" %}
    {% assign reeh       = site.audio | where:"parashacode","504" %}
    {% assign shoftim    = site.audio | where:"parashacode","505" %}
    {% assign kiteitzei  = site.audio | where:"parashacode","506" %}
    {% assign kitavo     = site.audio | where:"parashacode","507" %}
    {% assign nitzavim   = site.audio | where:"parashacode","508" %}
    {% assign haazinu    = site.audio | where:"parashacode","509" %}
    
    {% if devarim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Devarim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in devarim %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if vaetchanan.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Vaetchanan</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vaetchanan %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if eikev.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Eikev</h3>
        </div>
    </div> <!-- row -->
    {% for audio in eikev %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if reeh.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Re'eh</h3>
        </div>
    </div> <!-- row -->
    {% for audio in reeh %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shoftim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Shoftim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shoftim %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if kiteitzei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Ki Teitzei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in kiteitzei %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if kitavo.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Ki Tavo</h3>
        </div>
    </div> <!-- row -->
    {% for audio in kitavo %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if nitzavim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Nitzavim and Vayeilech</h3>
        </div>
    </div> <!-- row -->
    {% for audio in nitzavim %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if haazinu.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Ha'Azinu</h3>
        </div>
    </div> <!-- row -->
    {% for audio in haazinu %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

{% endif %}
</div> <!-- container-fluid -->