---
layout: default
---

<br>

{% include selectaudio.html type=page.type subtype=page.subtype %}

<h1 class="text-center">{{page.subtype}} <small>Audio Library</small></h1>

<div class="container-fluid">
{% if page.type == "year" %}
    {% assign holidays = site.audio | where:"bookcode","0" | where:"year",page.subtype %}
    {% assign bereshit = site.audio | where:"bookcode","1" | where:"year",page.subtype %}
    {% assign shemot   = site.audio | where:"bookcode","2" | where:"year",page.subtype %}
    {% assign vayikra  = site.audio | where:"bookcode","3" | where:"year",page.subtype %}
    {% assign bamidbar = site.audio | where:"bookcode","4" | where:"year",page.subtype %}
    {% assign devarim  = site.audio | where:"bookcode","5" | where:"year",page.subtype %}

    {% if holidays.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Holidays</h3>
        </div>
    </div> <!-- row -->
    {% for audio in holidays %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if bereshit.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sefer Bereshit</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bereshit %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if shemot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sefer Shemot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shemot %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if vayikra.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sefer Vayikra</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayikra %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if bamidbar.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sefer Bamidbar</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bamidbar %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

    {% if devarim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sefer Devarim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in devarim %}
        {% include audiorow.html type="parasha" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Holidays" %}
    {% assign roshhashana = site.audio | where:"parashacode","001" %}
    {% assign yomkippur   = site.audio | where:"parashacode","002" %}
    {% assign sukkot      = site.audio | where:"parashacode","011" %}
    {% assign shmini      = site.audio | where:"parashacode","012" %}
    {% assign simchat     = site.audio | where:"parashacode","013" %}
    {% assign pesach      = site.audio | where:"parashacode","021" %}
    {% assign shavuot     = site.audio | where:"parashacode","031" %}

    {% if roshhashana.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Rosh Hashanah</h3>
        </div>
    </div> <!-- row -->
    {% for audio in roshhashana %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if yomkippur.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Yom Kippur</h3>
        </div>
    </div> <!-- row -->
    {% for audio in yomkippur %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if sukkot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Sukkot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in sukkot %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shmini.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Shmini Atzeret</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shmini %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if simchat.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Simchat Torah</h3>
        </div>
    </div> <!-- row -->
    {% for audio in simchat %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if pesach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Pesach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in pesach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shavuot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Shavuot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shavuot %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}


{% elsif page.type == "book" and page.subtype == "Bereshit" %}
    {% assign bereshit  = site.audio | where:"parashacode","101" %}
    {% assign noach     = site.audio | where:"parashacode","102" %}
    {% assign lech      = site.audio | where:"parashacode","103" %}
    {% assign vayera    = site.audio | where:"parashacode","104" %}
    {% assign chayei    = site.audio | where:"parashacode","105" %}
    {% assign toldot    = site.audio | where:"parashacode","106" %}
    {% assign vayetzei  = site.audio | where:"parashacode","107" %}
    {% assign vayislach = site.audio | where:"parashacode","108" %}
    {% assign vayeshev  = site.audio | where:"parashacode","109" %}
    {% assign miketz    = site.audio | where:"parashacode","110" %}
    {% assign vayigash  = site.audio | where:"parashacode","111" %}
    {% assign vayechi   = site.audio | where:"parashacode","112" %}

    {% if bereshit.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Bereshit</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bereshit %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if noach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Noach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in noach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if lech.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Lech-Lecha</h3>
        </div>
    </div> <!-- row -->
    {% for audio in lech %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayera.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayera</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayera %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if chayei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Chayei Sara</h3>
        </div>
    </div> <!-- row -->
    {% for audio in chayei %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if toldot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Toldot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in toldot %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayetzei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayetzei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayetzei %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayislach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayislach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayislach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayeshev.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayeshev</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayeshev %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if miketz.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Miketz</h3>
        </div>
    </div> <!-- row -->
    {% for audio in miketz %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayigash.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayigash</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayigash %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}
    
    {% if vayechi.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayechi</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayechi %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Shemot" %}
    {% assign shemot    = site.audio | where:"parashacode","201" %}
    {% assign vaera     = site.audio | where:"parashacode","202" %}
    {% assign bo        = site.audio | where:"parashacode","203" %}
    {% assign beshalach = site.audio | where:"parashacode","204" %}
    {% assign yitro     = site.audio | where:"parashacode","205" %}
    {% assign mishpatim = site.audio | where:"parashacode","206" %}
    {% assign terumah   = site.audio | where:"parashacode","207" %}
    {% assign tetzaveh  = site.audio | where:"parashacode","208" %}
    {% assign kitisa    = site.audio | where:"parashacode","209" %}
    {% assign vayakhel  = site.audio | where:"parashacode","210" %}

    {% if shemot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Shemot</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shemot %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if vaera.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vaera</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vaera %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if bo.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Bo</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bo %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if beshalach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Beshalach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in beshalach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if yitro.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Yitro</h3>
        </div>
    </div> <!-- row -->
    {% for audio in yitro %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if mishpatim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Mishpatim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in mishpatim %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if terumah.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Terumah</h3>
        </div>
    </div> <!-- row -->
    {% for audio in terumah %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if tetzaveh.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Tetzaveh</h3>
        </div>
    </div> <!-- row -->
    {% for audio in tetzaveh %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if kitisa.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Ki Tisa</h3>
        </div>
    </div> <!-- row -->
    {% for audio in kitisa %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if vayakhel.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayakhel and Parashat Pekudei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayakhel %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Vayikra" %}
    {% assign vayikra = site.audio | where:"parashacode","301" %}
    {% assign tzav    = site.audio | where:"parashacode","302" %}
    {% assign shmini  = site.audio | where:"parashacode","303" %}
    {% assign tazria  = site.audio | where:"parashacode","304" %}
    {% assign achrei  = site.audio | where:"parashacode","305" %}
    {% assign emor    = site.audio | where:"parashacode","306" %}
    {% assign behar   = site.audio | where:"parashacode","307" %}

    {% if vayikra.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vayikra</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vayikra %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if tzav.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Tzav</h3>
        </div>
    </div> <!-- row -->
    {% for audio in tzav %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shmini.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Shmini</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shmini %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if tazria.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Tazria and Parashat Metzora</h3>
        </div>
    </div> <!-- row -->
    {% for audio in tazria %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if achrei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Achrei Mot and Parashat Kedoshim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in achrei %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if emor.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Emor</h3>
        </div>
    </div> <!-- row -->
    {% for audio in emor %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if behar.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Behar and Parashat Bechukotai</h3>
        </div>
    </div> <!-- row -->
    {% for audio in behar %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Bamidbar" %}
    {% assign bamidbar    = site.audio | where:"parashacode","401" %}
    {% assign nasso       = site.audio | where:"parashacode","402" %}
    {% assign behaalotcha = site.audio | where:"parashacode","403" %}
    {% assign shlach      = site.audio | where:"parashacode","404" %}
    {% assign korach      = site.audio | where:"parashacode","405" %}
    {% assign chukat      = site.audio | where:"parashacode","406" %}
    {% assign pinchas     = site.audio | where:"parashacode","407" %}
    {% assign matot       = site.audio | where:"parashacode","408" %}

    {% if bamidbar.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Bamidbar</h3>
        </div>
    </div> <!-- row -->
    {% for audio in bamidbar %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if nasso.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Nasso</h3>
        </div>
    </div> <!-- row -->
    {% for audio in nasso %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if behaalotcha.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Beha'alotcha</h3>
        </div>
    </div> <!-- row -->
    {% for audio in behaalotcha %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shlach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Sh'lach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shlach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if korach.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Korach</h3>
        </div>
    </div> <!-- row -->
    {% for audio in korach %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if chukat.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Chukat and Parashat Balak</h3>
        </div>
    </div> <!-- row -->
    {% for audio in chukat %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if pinchas.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Pinchas</h3>
        </div>
    </div> <!-- row -->
    {% for audio in pinchas %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if matot.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Matot and Parashat Masei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in matot %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

{% elsif page.type == "book" and page.subtype == "Devarim" %}
    {% assign devarim    = site.audio | where:"parashacode","501" %}
    {% assign vaetchanan = site.audio | where:"parashacode","502" %}
    {% assign eikev      = site.audio | where:"parashacode","503" %}
    {% assign reeh       = site.audio | where:"parashacode","504" %}
    {% assign shoftim    = site.audio | where:"parashacode","505" %}
    {% assign kiteitzei  = site.audio | where:"parashacode","506" %}
    {% assign kitavo     = site.audio | where:"parashacode","507" %}
    {% assign nitzavim   = site.audio | where:"parashacode","508" %}
    {% assign haazinu    = site.audio | where:"parashacode","509" %}
    
    {% if devarim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Devarim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in devarim %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if vaetchanan.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Vaetchanan</h3>
        </div>
    </div> <!-- row -->
    {% for audio in vaetchanan %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if eikev.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Eikev</h3>
        </div>
    </div> <!-- row -->
    {% for audio in eikev %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if reeh.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Re'eh</h3>
        </div>
    </div> <!-- row -->
    {% for audio in reeh %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if shoftim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Shoftim</h3>
        </div>
    </div> <!-- row -->
    {% for audio in shoftim %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if kiteitzei.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Ki Teitzei</h3>
        </div>
    </div> <!-- row -->
    {% for audio in kiteitzei %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if kitavo.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Ki Tavo</h3>
        </div>
    </div> <!-- row -->
    {% for audio in kitavo %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

    {% if nitzavim.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Nitzavim and Parashat Vayeilech</h3>
        </div>
    </div> <!-- row -->
    {% for audio in nitzavim %}
        {% include audiorow.html type="both" %}
    {% endfor %}
    {% endif %}

    {% if haazinu.size > 0 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Parashat Ha'Azinu</h3>
        </div>
    </div> <!-- row -->
    {% for audio in haazinu %}
        {% include audiorow.html type="year" %}
    {% endfor %}
    {% endif %}

{% endif %}
</div> <!-- container-fluid -->