<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    {% include navbar.html area=page.area %}

<br><br>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Welcome to Mekor Habracha</h3>
            </div>
            <div class="panel-body">
              At some point, this should be a welcome message that is only shown to first-time visitors and that can be dismissed.
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>


        </div>
        
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h3 class="panel-title">Sunday, August 30 2015<br>15 Elul 5775</h3>
            </div>

            <table class="table">
              <tr>
                <td class="text-left">Dawn</td>
                <td class="text-center">05:01</td>
                <td class="text-right">עֲלוֹת הַשַּׁחַר</td>
              </tr>
              <tr>
                <td class="text-left">Sunrise</td>
                <td class="text-center">06:26</td>
                <td class="text-right">הַנֵץ הַחַמָּה</td>
              </tr>
              <tr class="active">
                <td class="text-left">Shacharit</td>
                <td class="text-center">09:00</td>
                <td class="text-right">שַחֲרִית</td>
              </tr>
              <tr>
                <td class="text-left">Latest Shma</td>
                <td class="text-center">09:43</td>
                <td class="text-right">סוֹף זְמַן קְרִיאַת שְׁמַע</td>
              </tr>
              <tr>
                <td class="text-left">Latest Shacharit</td>
                <td class="text-center">10:49</td>
                <td class="text-right">סוֹף זְמַן תְּפִלָּה</td>
              </tr>
              <tr>
                <td class="text-left">Midday</td>
                <td class="text-center">13:00</td>
                <td class="text-right">חֲצוֹת הַיּוֹם</td>
              </tr>
              <tr>
                <td class="text-left">Earliest Mincha</td>
                <td class="text-center">13:33</td>
                <td class="text-right">מִנְחָה גְּדוֹלָה</td>
              </tr>
              <tr>
                <td class="text-left">Mincha K'tana</td>
                <td class="text-center">16:51</td>
                <td class="text-right">מִנְחָה קְטַנָּה</td>
              </tr>
              <tr>
                <td class="text-left">Plag haMincha</td>
                <td class="text-center">18:13</td>
                <td class="text-right">פְּלַג הַמִּנְחָה</td>
              </tr>
              <tr>
                <td class="text-left">Sunset</td>
                <td class="text-center">19:36</td>
                <td class="text-right">שְׁקִיעַת הַחַמָּה</td>
              </tr>
              <tr>
                <td class="text-left">Nightfall</td>
                <td class="text-center">20:17</td>
                <td class="text-right">צֵאת הַכּוֹֹכָבִים</td>
              </tr>
            </table>
          </div>
        </div>
        
      </div> <!-- row -->
    </div> <!-- /container-fluid -->

    {% include footer.html %}
    
  </body>
</html>
