<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    {% include navbar.html area=page.area %}

<br><br>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Welcome to Mekor Habracha!</h3>
            </div>
            <div class="panel-body">

              <p>
                This is the online home of our thriving Modern Orthodox community in Center City Philadelphia.
                Stop by to know more about <a href="our-community.html">who we are</a>, listen to <a href="our-rabi.html">Rabbi Hirsch</a>'s <a href="audio.html">drashot</a>, learn more about the resources that make <a href="eat-out.html">Philadelphia</a> a great place to be Jewish or <a href="email-signup.html">sign up for our weekly newsletter</a>.
              </p>

            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
          
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              <h3 class="panel-title">High Holidays at Mekor Habracha</h3>
            </div>
            <div class="panel-body">
              <p>
                The High Holidays are right around the corner! We are accepting limited reservations for services at Mekor on a first come, first served basis. 
                You can make your reservation by <a href="mailto:mekorhabracha@gmail.com?subject=High Holidays reservation">emailing the shul</a>.
              </p>
              
              <p>
                All <a href="become-member.html">synagogue members</a> can attend all High Holiday services free of charge, but they <strong>must</strong> <a href="mailto:mekorhabracha@gmail.com?subject=High Holidays reservation">reserve seats</a> &mdash; reservations are not automatic.
                Other visitors can <a href="mailto:mekorhabracha@gmail.com?subject=High Holidays reservation">make their reservations</a> at a price per person of $200 for all Rosh Hashanah and $200 for all of Yom Kippur. 
                Nonmember students have access to tickets for either Rosh Hashanah or Yom Kippur services at a discounted price of $125 per person.
                Reservations are complete once <a href="donate.html">payment</a> is received, if applicable.
              </p>

              <p>
                There will be children's programming available during services. 
                Please <a href="mailto:mekorhabracha@gmail.com?subject=Children's programming during High Holidays">contact the shul</a> to sign up.
              </p>
              
              <p>
                <strong>Best wishes for a happy and healthy new year!</strong>
              </p>
            </div>
          </div>


        </div>
        
        <div class="col-lg-3">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              <h3 class="panel-title success">Rosh Hashanah 5775</h3>
            </div>

            <table class="table">
              <tr class="danger">
                <td class="text-center" colspan="3">September 13</td>
              </tr>
              <tr>
                <td class="text-left">
                  Evening services<br/>
                  Candle lighting
                </td>
                <td class="text-center">
                  18:45<br/>
                  18:54
                </td>
                <td class="text-right">מנחה/מעריב<br/>הדלקת נרות</td>
              </tr>
              <tr class="danger">
                <td class="text-center" colspan="3">September 14</td>
              </tr>
              <tr>
                <td class="text-left">
                  Shacharit<br/>
                  Shofar blowing<br/>
                  Evening services<br/>
                  Candle lighting
                </td>
                <td class="text-center">
                  09:00<br/>
                  11:00<br/>
                  18:45<br/>
                  19:51
                </td>
                <td class="text-right">שחרית<br/>תקיעת שופר<br/>מנחה/מעריב<br/>הדלקת נרות</td>
              </tr>
              <tr class="danger">
                <td class="text-center" colspan="3">September 15</td>
              </tr>
              <tr>
                <td class="text-left">
                  Shacharit<br/>
                  Shofar blowing<br/>
                  Evening services<br/>
                  Havdalah
                </td>
                <td class="text-center">
                  09:00<br/>
                  11:00<br/>
                  18:45<br/>
                  19:51
                </td>
                <td class="text-right">שחרית<br/>תקיעת שופר<br/>מנחה/מעריב<br/>הבדלה</td>
            </table>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              <h3 class="panel-title">Yom Kippur 5775</h3>
            </div>

            <table class="table">
              <tr class="warning">
                <td class="text-center" colspan="3">September 22</td>
              </tr>
              <tr>
                <td class="text-left">
                  Kol Nidre<br/>
                  Candle lighting
                </td>
                <td class="text-center">
                  18:30<br/>
                  18:39
                </td>
                <td class="text-right">כל נדרי<br/>הדלקת נרות</td>
              </tr>
              <tr class="warning">
                <td class="text-center" colspan="3">September 23</td>
              </tr>
              <tr>
                <td class="text-left">
                  Shacharit<br/>
                  Yizkor<br/>
                  Mincha<br/>
                  Ne׳ila<br/>
                  Havdalah
                </td>
                <td class="text-center">
                  09:00<br/>
                  11:00<br/>
                  17:30<br/>
                  18:30<br/>
                  19:37
                </td>
                <td class="text-right">שחרית<br/>יזכור<br/>מנחה<br/>נעילה<br/>הבדלה</td>
            </table>
          </div>
        </div>

        
      </div> <!-- row -->
    </div> <!-- /container-fluid -->

    {% include footer.html %}
    
  </body>
</html>
