---
layout: defaultwide
---

  <br/>
      {% for post in site.posts %}{% if post.section == page.section %}
        <div class="row">
          <div class="col-md-2">
            <p class="text-right">{{ post.date | date: '%b %-d %Y' }}</p>
          </div> <!-- end div col -->
          <div class="col-md-10">
            <p class="text-left"><span class="label label-primary text-center">{{ post.media }}</span>  <a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.meta }}</small></p>
          </div> <!-- end div col -->
        </div> <!-- end div row -->
      {% endif %}{% endfor %}
